<h1>All Cities</h1>

<section class="list-all">
  <table>
    <thead>
      <tr>
        <th>City</th>
        <th>Area</th>
        <th>Country</th>
        <th>Region</th>
      </tr>
    </thead>
    <tbody>
      <% @cities.each do |city| %>
        <tr>
          <td> <%= city.name %> </td>
          <td> <%= city.area %> </td>
          <td> <%= city.country %> </td>
          <td> <%= city.region %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

